{% extends 'base.html' %}

{% block body %}
  <div class="fh5co-hero"
       style="background-image: url('https://www.blackmores.com.au/~/media/bklau/bsrf/2017/blackmores-sydney-marathon-nutrition-guide.jpg?db=web&thn=0&hash=6C18A459A8276633B3211C677BD01F098D9D8DBA');"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center"></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fh5co-section">
    <div class="container">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#nutrients">Nutrients</a>
        </li>
        <li><a data-toggle="tab" href="#people">People</a></li>
        <li><a data-toggle="tab" href="#geographical">Geographical</a></li>
        <li><a data-toggle="tab" href="#seasonal">Seasonal</a></li>
      </ul>

      <div class="tab-content">
        <div id="nutrients" class="tab-pane fade in active">
          <br><br>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a data-toggle="pill"
                                        href="#home">Home</a>
                  </li>
                  {% for nutrient in nutrients %}
                    <li><a data-toggle="pill"
                           href="#{{ nutrient.id }}">{{ nutrient.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-9">
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>People look at food labels for different reasons. But
                      whatever the reason,
                      many consumers would like to know how to use this
                      information more effectively
                      and easily. The following label-building skills are
                      intended to
                      make it easier for you to use nutrition labels to make
                      quick, informed food choices that contribute to a healthy
                      diet..</p>
                  </div>
                  {% for nutrient in nutrients %}
                    <div id="{{ nutrient.id }}" class="tab-pane fade">
                      <div class="text-center "><h3>{{ nutrient.name }}</h3>
                      </div>
                      <div class="row">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Avg Intake</th>
                            <th>Disease</th>
                            <th>Food</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>{{ nutrient.avg_intake }}</td>
                            <td>
                              {% for disease in diseases %}
                              {% if disease.nutrient == nutrient %}
                              {{ disease.name }}
                              {% endif %}
                              {% endfor %}
                            </td>
                            <td>
                              {% for food in foods %}
                              {% for nu in food.nutrient.all %}
                              {% if nu == nutrient %}
                              {{ food.name }}
                              {% endif %}
                              {% endfor %}
                              {% endfor %}
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="clearfix visible-lg"></div>
            </div>
          </div>
        </div>
        <div id="people" class="tab-pane fade in">
          <br><br>
          <div class="container-fluid">
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th>People</th>
                  <th>Foods</th>
                </tr>
                </thead>
                <tbody>
                {% for people in peoples %}
                  <tr>
                    <td>{{ people.type }}</td>
                    <td>{% for food in people.nutrient.all %}
                      {{ food.name }}
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="geographical" class="tab-pane fade in">
          <br><br>
          <div class="container-fluid">
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th>Region</th>
                  <th>Foods</th>
                </tr>
                </thead>
                <tbody>
                {% for geographical in geographicals %}
                  <tr>
                    <td>{{ geographical.name }}</td>
                    <td>{% for food in geographical.food.all %}
                      {{ food.name }}
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="seasonal" class="tab-pane fade in">
          <br><br>
          <div class="container-fluid">
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th>Seasonal</th>
                  <th>Foods</th>
                </tr>
                </thead>
                <tbody>
                {% for season in seasons %}
                  <tr>
                    <td>{{ season.name }}</td>
                    <td>{% for food in season.food.all %}
                      {{ food.name }}
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
