{% extends 'base.html' %}

{% block body %}

  <div class="fh5co-hero"
       style="background-image: url(images/hero_4.jpg);"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center">About us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fh5co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>Even the all-powerful Pointing has no control about the
            blind texts it is an almost unorthographic life One day
            however a small line of blind text by the name of Lorem
            Ipsum decided to leave for the far World of Grammar.
            The Big Oxmox advised her not to do so, because there
            were thousands of bad Commas, wild Question Marks and
            devious Semikoli, but the Little Blind Text didn’t
            listen.</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

  <div class="fh5co-parallax"
       style="background-image: url(images/hero_2.jpg);height: 300px; margin: auto;"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center" style="margin-top: -180px;">
              Our Team</h1>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
