{% extends 'base.html' %}

{% block body %}

  <div class="fh5co-hero"
       style="background-image: url('https://lh4.ggpht.com/vcyZimfIRlWrLarEpIj7MMSuqgwIkF4bx5nArKhFWsEqGclnPTAeLLK4cFiQ5QscRIEc=w300');"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center">About us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fh5co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>People have courage to change the system, We have courage to bring revolution make the world better,
              easy and healthy  </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

  <div class="fh5co-parallax"
       style="background-image: url(images/hero_2.jpg);height: 300px; margin: auto;"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center" style="margin-top: -180px;">
              Our Team</h1>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
