{% extends 'base.html' %}

{% block body %}

<div class="fh5co-hero"
     style="background-image: url(images/hero_4.jpg);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">About us</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fh5co-parallax"
     style="background-image: url(images/hero_2.jpg);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">The leadership</h1>
                    <p>Made with love by the fine folks at <a
                            href="http://freehtml5.co">FreeHTML5.co</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
