{% extends 'base.html' %}

{% block body %}
<div class="fh5co-hero"
     style="background-image: url(images/hero_3.jpg);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">Contact us</h1>
                    <p>Made with love by the fine folks at <a
                            href="http://freehtml5.co">FreeHTML5.co</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>Contact Info</h2>
                <p>She packed her seven versalia, put her initial into
                    the belt and made herself on the way. When she
                    reached the first hills of the Italic
                    Mountains.</p>

                <p>198 West 21th Street, Suite 721 <br> New York NY
                    10016</p>
                <p><a href="#">info@domain.com</a></p>
                <p><a href="#">+123 456 7890</a></p>
            </div>
            <div class="col-md-6 col-md-push-1">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                                <textarea class="form-control" name="" id=""
                                          cols="30" rows="10"
                                          placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message"
                               class="btn btn-primary btn-md">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="map"></div>
{% endblock %}
