{% extends 'base.html' %}

{% block body %}
<div class="fh5co-hero"
     style="background-image: url('https://thumbs.dreamstime.com/z/leave-note-vintage-background-handcrafted-tag-49603930.jpg');"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>Contact Info</h2>
                <p>We are student of Indian Institute Information Technology, Vadodara
                </p>

                <p>RoomNo-1004, Block-B, High-Rise Hostel, PDPU <br> Gandhinagar, Gujarat
                    10016</p>
                <p><a href="#">201552060@iiitvadodara.ac.in<br> 201552064@iiitvadodara.ac.in</a></p>
                <p><a href="#">8347773419<br> 8209875707</a></p>
            </div>
            <div class="col-md-6 col-md-push-1">
                {% include 'generic_form.html' %}
            </div>
        </div>
    </div>
</div>
<div id="map"></div>
{% endblock %}
