{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block body %}

  <div class="fh5co-hero"
       style="background-image: url(images/hero_2.jpg);"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center">Article Form</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fh5co-section">
    <div class="container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="text-center">
            Do you really want to delete {{ article.title }} ?
          </div>
          <div class="delete-button"
               style="margin-left: 220px;">{% include 'generic_form.html' %}</div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>


{% endblock %}