{% extends 'base.html' %}

{% block body %}
  <div class="fh5co-hero"
       style="background-image: url(images/hero_2.jpg);"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center">Articles</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fh5co-section">
    <div class="container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

          <div class="fh5co-icon">
            <i class="icon-strategy"></i>
          </div>
          <div class="fh5co-text article-box">
            <div class="text-center"><h1>Strategy</h1>
              <hr>
            </div>
            <span><small>Date</small></span><span style="float: right;">
            <small>Name</small>
          </span>
            <p>Far far away, behind the word mountains, far
              from the countries Vokalia and Consonantia,Name
              there live the blind texts. </p>
            <span><small> Edit</small></span> | <span><small>Delete</small></span><span style="float: right;">
            <small>Read More</small>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>

    </div>

  </div>


  <div class="fh5co-parallax"
       style="background-image: url(images/hero_2.jpg);height: 300px; margin: auto;"
       data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center" style="margin-top: -180px;">
              Few Articles</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
