{% extends 'base.html' %}

{% block body %}
<div class="fh5co-hero"
     style="background-image: url(images/hero_2.jpg);"
     data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div
          class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center">Articles</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fh5co-section">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <span><a href="{% url 'articles:add_article' %}">Add New</a></span>
        <br><br>
        {% for article in all_articles %}
        <div class="fh5co-text article-box">
          <div class="text-center"><h1>{{ article.title }}</h1>
            <hr>
          </div>
          <span><small>{{ article.date }}</small></span><span
            style="float: right;">
              <small>Published by:</small><br>
            <small>{{ article.publisher }}</small>
          </span>
          <div class="article-content">
            {{ article.content }}
          </div>
          <span><small><a
              href="{% url 'articles:edit_article' article.id %}">Edit</a></small></span>
          | <span><small><a
            href="{% url 'articles:delete_article' article.id %}">Delete</a></small></span><span
            style="float: right;">
              <small><a href="{% url 'articles:full_article' article.id %}">Read More</a></small>
            </span>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</div>


<div class="fh5co-parallax"
     style="background-image: url(images/hero_2.jpg);height: 300px; margin: auto;"
     data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div
          class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center" style="margin-top: -180px;">
            Few Articles</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
